{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block content %}

<!-- Main section of review details page -->
<div class="container-fluid">
  <!-- Review Card -->
  <div class="row justify-content-sm-center full-review-card">
    <div class="col-12 col-lg-10 mt-5 mb-5">
      <div class="card mb-3 pb3 bg-full-review">
        <div class="row g-0">
          <div class="col-4">
            <!-- Review Image -->
            <div class="full-review-img-container">
              {% if "placeholder" in post.featured_image.url %}
              <img
                src="{% static 'background_images/golf-2.jpg' %}"
                class="img-fluid rounded-start"
                alt="review image"
              />
              {% else %}
              <img
                src="{{ post.featured_image.url }}"
                class="img-fluid rounded-start"
                alt="review image"
              />
              {% endif %}
            </div>
          </div>
          <!--  Review Content -->
          <div class="col-8">
            <div class="card-body me-5">
              <a href="{% url 'review_details' post.slug %}">
                <h1 class="card-title text-primary">{{ post.title }}</h1>
                <p class="author text-primary">
                  Author: {{ post.author }},
                  <span class="review-creator-info">{{ post.created_on }}</span>
                </p>
              </a>
              <hr />
              <div class="review-content">
                <p class="card-text">
                  <i class="font-weight-bold"> {{ post.content | safe }}</i>
                </p>
              </div>
              <hr />
              <div class="row">
                <div class="col-3">
                  <!-- user can like a post if logged in -->
                  <strong>
                    {% if user.is_authenticated %}
                    <form
                      action="{% url 'review_like' post.slug %}"
                      method="POST"
                    >
                      {% csrf_token %} {% if liked %}
                      <button
                        class="btn-like text-primary"
                        type="submit"
                        name="blogpost_id"
                        value="{{ post.slug }}"
                      >
                        <i class="fas fa-heart"></i>
                      </button>
                      {% else %}
                      <button
                        class="btn-like text-primary"
                        type="submit"
                        name="blogpost_id"
                        value="{{ post.slug }}"
                      >
                        <i class="far fa-heart"></i>
                      </button>
                      {% endif %}
                    </form>
                    {% else %}
                    <!-- Number of likes -->
                    <strong class="text-primary"
                      ><i class="far fa-heart pe-2"></i>
                      {{ post.number_of_likes }}
                    </strong>
                    {% endif %}
                  </strong>
                  <!-- Number of comments -->
                </div>
                <div class="col-3">
                  <strong class="text-primary">
                    {% with comments.count as total_comments %}
                    <i class="far fa-comments"></i>
                    {{ total_comments }} {% endwith %}
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Comments section -->
        <div class="row mt-5">
          <div class="col-md-8 mb-3">
            <h3 class="ms-5 text-primary">Comments:</h3>
            <!-- for loop to iterate through the comments made -->
            {% for comment in comments %}
            <div class="ms-5 me-5">
              <p class="comment-author">
                {{ comment.name }},
                <span class="comment-date">{{ comment.created_on }}</span>
              </p>
              <div class="comments">
                <i>{{ comment.body | linebreaks }}</i>
              </div>
              <hr />
            </div>
            {% endfor %}
          </div>
          <div class="col-md-4 ps-5 pe-5">
            <!-- Let user know that there comment is awaiting approval -->
            {% if commented %}
            <div class="alert alert-success" role="alert">
              Your comment is awaiting approval
            </div>
            {% else %}
            <!-- Display comment form if user is signed in -->
            {% if user.is_authenticated %}
            <h3 class="text-primary">Leave a comment</h3>
            <p>Commenting as: {{ user.username }}</p>
            <form method="POST" style="marging-top: 1.3rem">
              {{ comment_form | crispy }} {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-md mt-3 mb-3">
                Leave Comment
              </button>
            </form>
          </div>
          {% endif %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
