{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Main section of reviews page to show reviews -->
<div class="container-fluid">
    <div class="row justify-content-sm-center">

        <!-- Review entries -->
        <div class="col-12 col-sm-8 col-md-6 col-xl-4">
            <div class="row review-card">
                <!-- for loop to iterate through the posts available -->
                {% for post in post_list %}
                <div class="col-12 mt-5 single-review-card">
                    <div class="card mb-3" style="max-width: 540px; max-height: 250px;">
                        <div class="row g-0">
                            <div class="col-4">
                                {% if "placeholder" in post.featured_image.url %}
                                <img src="{% static 'background_images/golf-2.jpg' %}" class="img-fluid rounded-start" alt="...">
                                {% else %}
                                <img src="{{ post.featured_image }}" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author text-primary fs-6">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <a href="{% url 'review_details' post.slug %}" class="">
                                        <h5 class="card-title text-primary">{{ post.title }}</h5>
                                        <p class="card-text">{{ post.excerpt }}</p>
                                    </a>
                                    <hr/>
                                    <p class="card-text"><small class="text-primary">{{ post.created_on}} <i class="far fa-heart"></i>
                                    {{ post.number_of_likes }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Leave review link which is only visible when user logged in -->
    {% if user.is_authenticated %}
    <div class="row justify-content-sm-center">
        <div class="col-12 col-sm-8 col-md-6 col-xl-4" style="max-width: 540px;">
            <a href="#" class="nav-link fs-6 fw-bold leave-review-link text-white">Leave A Review</a>
        </div>
    </div>
    {% endif %}
    <!-- This is code used for page pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mb-3">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}