{% extends "base.html" %} {% block content %}

<!--  Main Section of the home page-->

<div class="container home-main-section">
  <div class="row">
    <div class="column col-sm-12">
      <h1 class="text-white fw-bold">
        COME HAVE A ROUND<br>AT THE<br>ROYAL SAM<br>GOLF CLUB
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col col sm-12 fw-bold">
      <p class="text-white fs-2">Members and guests all welcome.</p>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col col-sm-6 col-lg-4">
      <a
        href="{% url 'book_a_tee' %}"
        class="nav-link fs-2 fw-bold book-tee-main text-white"
        >Book A Tee!</a
      >
    </div>
  </div>
</div>
{% endblock %}
