{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Leave a review form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 booking-form">
            {% if user.is_authenticated %}
            <h3 class="text-primary">Book A Tee!</h3>
            <p>Booking under: {{ user.username }}</p>
            <form method="POST" style="marging-top: 1.3rem;">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-md mt-3 mb-3">Book</button>
            </form>
            {% else %}
            <h3 class="text-primary login-to-book">Please login or register an account to book.</h3>
            <div class="row mt-3 justify-content-center">
                 <div class="sm-col-12 login-to-book-links">
                    <a href="">Login</a>
                 </div>
                <div class="sm-col-12 pt-2 pb-5 login-to-book-links">
                    <a href="">Register</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}