{% extends "base.html" %} {% load static %} {% block content %}

<!-- Main section of delete_bookings -->
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 mt-5">
      <div
        class="card mb-3 pt-3 pb-3 text-primary delete-card mx-auto text-center"
        style="max-width: 540px; max-height: auto"
      >
        <div class="row justify-content-center">
          <div class="col-10 text-primary mb-3">
            <h3>Are you sure you want to delete this booking?</h3>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-5 mb-3">
            <a href="{% url 'delete_booking' item_id=booking.id %}">
              <button class="btn btn-primary btn-lg">Yes</button>
            </a>
          </div>
          <div class="col-5 mb-3">
            <a href="{% url 'my_bookings' %}">
              <button class="btn btn-danger btn-lg">No</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
