{% extends "base.html" %} {% load static %} {% block content %}

<!-- Main section of my_bookings page to show user bookings -->
<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <!-- Review entries -->
    <div class="col-12 col-sm-8 col-md-6 col-xl-4">
      <div class="row review-card">
        <!-- If statement for if there are any bookings -->
        {% if booking_list %}
        <!-- for loop to iterate through the user bookings -->
        {% for booking in booking_list %}
        <div class="col-12 mt-5 single-review-card">
          <div class="card mb-3 pt-3 pb-3 text-primary" style="max-width: 540px; max-height: auto">
            <div class="row">
                <div class="col-10 offset-md-1 text-primary mb-3">
                    <h3>Your Booking:</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <p><strong>Name: </strong> {{ booking.user }}</p>
                </div>
                <div class="col-5">
                    <p><strong>Email: </strong> {{ booking.email }}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <p><strong>Date: </strong> {{ booking.date }}</p>
                </div>
                <div class="col-5">
                    <p><strong>Time: </strong> {{ booking.time }}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <p><strong>Number of players: </strong> {{ booking.number_of_players }}</p>
                </div>
                <div class="col-5">
                    {% if booking.member %}
                    <p><strong>Member: </strong>Yes</p>
                    {% else %}
                    <p><strong>Member: </strong>No</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-md-1">
                    {% if booking.buggy %}
                    <p><strong>Buggy required: </strong> Yes</p>
                    {% else %}
                    <p><strong>Buggy required: </strong> No</p>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5">
                    <a href="{% url 'edit_tee_date' item_id=booking.id %}">
                        <button class="btn btn-primary btn-md">Edit</button>
                    </a>
                </div>
                <div class="col-5">
                    <a href="{% url 'confirm_delete' item_id=booking.id %}">
                        <button class="btn btn-danger btn-md">Delete</button>
                    </a>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Message if there are no bookings -->
        {% else %}
        <div class="col-12 mt-5 single-review-card">
            <div class="card mb-3 pt-3 pb-3 text-primary" style="max-width: 540px; max-height: auto">
                <div class="row justify-content-center">
                    <div class="col-10 text-primary mb-3">
                        <h3>You Have No Bookings</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 mb-3">
                        <a href="{% url 'book_a_tee' %}">
                            <button class="btn btn-primary btn-lg">Book A TEE!</button>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
        {% endif %}          
      </div>
    </div>
  </div>

  <!-- This is code used for page pagination -->
  {% if is_paginated %}
  <nav aria-label="Page navigation" class="mb-3">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a
          href="?page={{ page_obj.previous_page_number }}"
          class="page-link me-3"
          >&laquo; PREV
        </a>
      </li>
      {% endif %} {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link ms-3">
          NEXT &raquo;</a
        >
      </li>

      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}
