/* Nav Bar*/

.navbar-brand {
    text-align: center;
    margin-left: 50px;
    font-weight: 500;
    font-size: 25px;
}

li.nav-item {
    padding-left: 40px;
    font-weight: 400;
    font-size: 20px;
}

li.nav-item:hover {
    font-size: 150%;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.3=50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-book-tee {
    border: solid 2px;
    border-radius: 10px;
    border-color: #0d6efd;
}



/*  Footer  */

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: lightgray;
}

h5 {
    margin-bottom: 3rem;
}

.social-network-items {
    font-size: 20px;
}

.social-network-items:hover {
    font-size: 200%;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.3=50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

/* main section home page */

.home-main-section {
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}

.book-tee-main {
    padding: 6px;
    border: solid 4px;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(13, 110, 253, 0.6);
    margin-top: 80px;
}

.book-tee-main:hover {
    font-size: 300%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    background-color: rgba(13, 110, 253, 1);
}

/* main login section */

.main-login {
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(248, 249, 250, 0.8);
    height: 700px;
    width: 70vh;
    margin-top: 100px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

/* main signup section */

.main-signup {
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(248, 249, 250, 0.8);
    height: auto;
    width: 60vh;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* main section logout */

.main-logout {
    justify-content: center;
    padding-top: 60px;
    background-color: rgba(248, 249, 250, 0.8);
    height: 300px;
    width: 60vh;
    margin-top: 100px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}


/* main section reviews */


.review-card {
    text-align: -webkit-center;
}

.page-link {
    border-radius: 10px;
}

.leave-review-link {
    padding: 6px;
    border: solid 4px;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(13, 110, 253, 0.6);
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.leave-review-link:hover {
    font-size: 300%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    background-color: rgba(13, 110, 253, 1);
}

/* full review page section */

.full-review-card {
    text-align: left;
}

.review-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.review-creator-info {
    padding-left: 2rem;
}

.comment-date {
    padding-left: 2rem;
}

.comments {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.comment-author {
    font-weight: 700;
}

.leave-comment-link {
    padding: 6px;
    border: solid 4px;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(13, 110, 253, 0.6);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.leave-comment-link:hover {
    font-size: 300%;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    background-color: rgba(13, 110, 253, 1);
}

.btn-like {
    background: transparent;
    border: none;
}

/* Leave review section */

.leave-review-form {
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(248, 249, 250, 0.8);
    height: auto;
    max-width: 60vh;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* booking a tee section */

.booking-form {
    justify-content: center;
    padding-top: 50px;
    background-color: rgba(248, 249, 250, 0.8);
    height: auto;
    max-width: 60vh;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-to-book {
    text-align: center;
    padding-bottom: 50px;
}

.login-to-book-links {
    text-align: center;
}

/* My bookings section */

.bookings-card {
    background-color: rgba(248, 249, 250, 0.80);
}

/* Style for gallery main page */

.gallery-main-section {
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Style for contact us main section */

.contact-main-section {
    text-align: center;
    padding-top: 50px;
}

.google-map {
    border-radius: 5px;
}