{% extends "base.html" %} {% block content %}

<!--  Main Section of the home page-->
<main class="bg-image d-flex justify-content-center" style="
        background-image: none;
        background-color: black;
        min-height: 100vh;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
      ">
    <div class="container contact-main-section">
        <div class="row">
            <div class="column col-sm-12">
                <h1 class="text-white fw-bold">
                    Contact Us
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="text-white fw-bold">Location</h3>
                <!-- would like google map here-->
                <div id="map" style="height: 400px;"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3 class="text-white fw-bold">Contact Us</h3>
            </div>
        </div>
    </div>
</main>
<script>
    function initMap() {
        // Coordinates for the home location
        var homeLatLng = { lat: 51.4837, lng: -3.1681 };

        // Create a map centered at the home location
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            center: homeLatLng
        });

        // Create a marker for the home location
        var marker = new google.maps.Marker({
            position: homeLatLng,
            map: map,
            title: "Home"
        });
    }
</script>
<script
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap"></script>
{% endblock %}